

.nav-container {
  display: grid;
  grid-template-columns: 24em auto 4.2em 4.2em 4.8em 3.6em 4.8em 12.25em 8.8em;
  grid-auto-rows: 120px;
  grid-template-areas:
    "logo . a b c d e btn . ";
  // grid-gap: 1em;
  align-items: center;
  align-content: center;
  text-align: center;
  background: white;
}

.nav-container .nav-logo{
  // grid-column: 1;
  grid-area: logo;
    img {
      width: 100px;
      height: 80px;
    }
}

.nav-container{

  a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 30px 10px;
    color: #88919e;
    font-family: sans-serif;
  }
}

.nav-container .item-a{
  // grid-column: 2;
  grid-area: a;

}

.nav-container .item-b{
  // grid-column: 3;
  grid-area: b;
}

.nav-container .item-c{
  // grid-column: 4;
  grid-area: c;
}

.nav-container .item-d{
  // grid-column: 5;
  grid-area: d;
}

.nav-container .item-e{
  grid-column: 6;
  grid-area: e;
}


.nav-container .nav-btn{
  // grid-column: 7;
  grid-area: btn;
  margin-left: 15px;
}


.simple-bar{
  display: grid;
  grid-template-columns: 155px auto 348px auto 155px;
  grid-template-rows:  14vh;
  grid-template-areas:
    ". text . btn . ";

  justify-content:  start;
  background-color: #b4d4ec;
      margin-left: -165px;
    margin-right: -165px;
    padding-left: 50px;
    padding-right: 155px;


  p {
    grid-area: text;
    color: white;
    align-self: center;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
    display:bolck;
    width:700px;
  }

  a {
    text-decoration: none;
    color: white;
    opacity: .9;
  }

  a:hover{
    text-decoration: none;
    opacity: 1;
  }
}

.simple-bar .btn-main-lrg{
  grid-area: btn;
  align-self: center;
}



// @media (max-width: 640px){

  // .nav-container {
  //   height: 240px;
  //   justify-content: space-around;
  //   align-items: baseline;
  //   align-content: center;
  // }

  //  .nav-container .nav-logo {
  //     display: flex;
  //     flex-flow: row wrap;
  //     justify-content: space-around;
  //     align-items: baseline;
  //     align-content: start;
  //     flex: 1 0 400px;
  //     align-self: center;

  //       img {
  //         width: 80px;
  //         height: 60px;
  //       }
  //   }

  //   .nav-container .nav-item {

  //     display: flex;
  //     flex-flow: row wrap;
  //     justify-content: space-around;
  //     align-items: baseline;
  //     align-content: start;
  //     flex: 1 0 400px;
  //     align-self: center;
  //   }

  //   }

