<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg);">

  <div class="container-banner">
    <h1>Severe Back Pain?</h1>

      <p> Book an appointment with one of our expert physiotherapists today and begin the journey to a pain free life</p>

    <div class="btn-main-lrg">
      <a href="#">Book Appointment</a>
    </div>
  </div>
</div>


