
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">


<div class="container-header-white">
  <div>
    <p>
    CONTACTO
  </p>
  </div>
  <div class="line">
  </div>
</div>

<div class="main-container-contact">

  <div id="map"></div>

  <div class="contact-content">
    <p>
      Address: Ronda de Sant Pere, 40, 3º1ª, 08010 Barcelona, Spain                          Phone: +34 603 84 84 32
    </p>

    <div class="contact-icon">
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
  </div>
</div>

    </div>
  </div>
</div>


<!--
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFoc2Eta2giLCJhIjoiY2tiZGYxcDJhMGI0ajJ0b2FubXdvZnEzcSJ9.72173nxCHn7vdUV_9LWDvw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [12.550343, 55.665957],
zoom: 8
});

var marker = new mapboxgl.Marker()
.setLngLat([12.550343, 55.665957])
.addTo(map);
</script>


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFoc2Eta2giLCJhIjoiY2tiZGYxcDJhMGI0ajJ0b2FubXdvZnEzcSJ9.72173nxCHn7vdUV_9LWDvw';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [-74.5, 40], // starting position [lng, lat]
zoom: 9 // starting zoom
});
</script>
 -->



<!--  <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Add a default marker</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />
<style>
  body { margin: 0; padding: 0; }
  #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body> -->



