<nav class="fixed-navbar">
  <div class="container-navbar">
    <%= image_tag("logo_ho2.png", class: "logo-navbar-fixed") %>
    <ul class="navbar-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">page a</a></li>
      <li><a href="#">page b</a></li>
      <li><a href="#">page c</a></li>
      <li><a href="#">page d</a></li>
      <li><a class="btn-book" href="#">Book an appointment</a></li>
    </ul>
    <%# <span>
      <i class="fa fa-bars"></i>
    </span> %>
  </div>
</nav>
