<!-- <div class="footer"> -->
  <div class="top-footer">
    <div class="top-footer-inner">
      <div class="footer-inner-content">
        <%= image_tag("logo.png", class: "logo-navbar") %>
        <p>
          Veronica is a niche WordPress theme designed specifically for physiotherapists and other professionals looking for a clean and fast loading website.
        </p>
      </div>
    </div>

    <div class="top-footer-inner">
      <div class="footer-inner-content">
      </div>
    </div>

    <div class="top-footer-inner">
      <div class="footer-inner-content">
        <h3>Physio Services</h3>
        <ul>
          <li>
            <a href="">All Services</a>
          </li>
          <li>
            <a href="">Aquatic Therapy</a>
          </li>
          <li>
            <a href="">Child Physiotherapy</a>
          </li>
          <li>
            <a href="">Chronic Pain Therapy</a>
          </li>
          <li>
            <a href="">Movement Analysis</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="top-footer-inner">
      <div class="footer-inner-content">
        <h3>Physio Services</h3>
        <ul>
          <li>
            <a href="">All Services</a>
          </li>
          <li>
            <a href="">Aquatic Therapy</a>
          </li>
          <li>
            <div class="icons">
                      <i class="fab fa-twitter-square"></i>
                      <i class="fab fa-linkedin"></i>
                      <i class="fab fa-twitter-square"></i>
                      <i class="fab fa-twitter-square"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom-footer">

  </div>
<!-- </div>
 -->
