<div class="nav-container">
  <div class="nav-logo">
    <%= image_tag("logo.png", class: "logo-navbar") %>
  </div>
  <div class="item-a">
    <a href="">Home</a>
  </div>
    <div class="item-b">
    <a href="">Acount</a>
  </div>
    <div class="item-c">
    <a href="">Services</a>
  </div>
    <div class="item-d">
    <a href="">Blog</a>
  </div>
    <div class="item-e">
    <a href="">Contact</a>
  </div>
    <div class="nav-btn btn-main-lrg">
     <a href="" > Book Appointment </a>
  </div>

</div>

