
<div class="container-header-white">
  <div>
    <p>
    COMO
  </p>
  </div>
  <div class="line">
  </div>
</div>


<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block w-100 car-img banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/bg-white.jpg);">
          <div class="carousel-caption d-none d-md-block car-text">

              <p>El ajuste vertebral es un movimiento rápido, preciso, seguro e indoloro que realiza el quiropráctico con las manos para devolver la alineación original a las vértebras, eliminando de este modo los bloqueos de la columna.
              </p>
          </div>
        </div>
      </div>


      <div class="carousel-item">
        <div class="d-block w-100 car-img banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/bg-white.jpg);">
          <div class="carousel-caption d-none d-md-block car-text">

              <p>Así se consiguen liberar los nervios, permitiendo a tu cerebro VER con claridad todo lo que sucede en el resto de tu cuerpo.
  El ajuste vertebral puede realizarse de diferentes formas, haciendo uso de diversas técnicas en función de la persona que se está atendiendo.
              </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100 car-img banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/bg-white.jpg);">
        <div class="carousel-caption d-none d-md-block car-text">
            <p>
El AJUSTE QUIROPRÁCTICO, a través de un movimiento rápido, seguro, preciso e indoloro, permite eliminar ese bloqueo vertebral, liberando de este modo los nervios y potenciando la actividad y el correcto funcionamiento de nuestro sistema nervioso.
La quiropráctica tiene una gran variedad de técnicas que permiten trabajar de diferentes formas dependiendo de la persona que se está atendiendo.
</p>
        </div>
      </div>
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
