
<div class="container-header-white">
  <div>
    <p>
    SOBRE MI
  </p>
  </div>
  <div class="line">
  </div>
</div>


<div class="two-item-container-nopadding-2">
  <div class="box-2">
    <%= image_tag("bio.jpg") %>
  </div>
  <div class="box-1">
    <p>
      Mi nombre es Dario Bisanti y soy licenciado en Quiropráctica desde el 2015. Toda mi vida he tenido una innata curiosidad por la salud y por cómo conseguir mantenerla de una forma sana y no invasiva. Después de haber estudiado Farmacia y como consecuencia haber entendido los aspectos fisiológicos del cuerpo, me vi en contacto con el fascinante mundo de la quiropráctica.

La Quiropráctica irrumpió en mi vida por casualidad, pero nunca hubiera pensado que una casualidad pudiese afectarme tan positivamente. La quiropráctica da la posibilidad a personas de todas las edades de conocer su inmenso potencial; no sólo de sanar su cuerpo sino también de poder vivir su vida en su máximo esplendor. El cuerpo humano es una máquina perfecta, pero en su recorrido encuentra factores que pueden limitar esa perfección. La quiropráctica me permite restaurar ese potencial y eso lo considero un don. Como quiropráctico veo el cuerpo en su totalidad, analizando y tratando todas sus partes sin focalizarme únicamente en la zona dolorida o afectada. De esta manera durante tu cuidado quiropráctico voy a trabajar muchos y diversos aspectos que influyen en tu estado: aspectos físicos, emocionales y químicos. Esta es la mejor manera de conseguir nuestro objetivo común: tu salud.

    </p>
  </div>
</div>
