<div class="container-header-white">
  <div>
    <p>
    QUE ÉS
  </p>
  </div>
  <div class="line">
  </div>
</div>

<div class="two-item-container">
  <div class="box-1">
    <p>
La quiropráctica es la profesión sanitaria especializada en la relación entre la columna vertebral y el sistema nervioso, así como de la detección y corrección de los trastornos a nivel músculo- esquelético que pueden afectar a nuestra salud general.
</p>
<h4>Cuál es la finalidad de la quiropráctica</h4>
<p>

  El objetivo es conseguir un correcto funcionamiento del sistema nervioso con el fin de optimizar la capacidad de adaptación de nuestro cuerpo a situaciones de estrés físico, emocional y químico.
La columna vertebral hace de defensa mecánica del sistema nervioso a través de las vértebras. Cuando éstas pierden su alineación original se genera un bloqueo que puede afectar la óptima funció del sistema nervioso.

</p>


  </div>
  <div class="box-2">
    <%= image_tag("sec2-1.jpg") %>
  </div>
</div>


