<div class="container-header-white">
  <div>
    <p>
    POR QUÉ
  </p>
  </div>
  <div class="line">
  </div>
</div>






<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg1.jpg)">
    Tener más movilidad
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg2.jpg)">
    Menos tensión muscular
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg3.jpg)">
    Reducir el uso de fármacos y cirugía
  </div>
</div>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg1.jpg)">
    Mejorar tu postura
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg2.jpg)">
   <p>Mejorar tu rendimiento físico y mental</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg3.jpg)">
    Reducir tus dolores de cabeza
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg1.jpg)">
    Más vitalidad y menos estrés
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg2.jpg)">
    Sentirte bien con tu cuerpo y mente
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/bg3.jpg)">
    Reducir procesos inflamatorios
  </div>
</div>



















