
<div class="container">
  <div class="row">
    <div class="col-md-12">


          <div class="panel-container">
            <div class="main-panel">
            <div class="panel-cell shadow">
              <div class="panel-cell-inner">
                <div class="content-holder">
                  <a href="">
                    <%= image_tag("sample1.png") %>
                  </a>
                  <div class="text">
                    <h3>Jessica Star</h3>
                    <h4>Senior Therapist</h4>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
                    <div class="icons">
                      <i class="fab fa-twitter-square"></i>
                      <i class="fab fa-linkedin"></i>
                      <i class="fab fa-linkedin"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-cell shadow">
              <div class="panel-cell-inner">
                <div class="content-holder">
                  <a href="">
                    <%= image_tag("sample2.png") %>
                  </a>
                  <div class="text">
                    <h3>Jessica Star</h3>
                    <h4>Senior Therapist</h4>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
                    <div class="icons">
                      <i class="fab fa-twitter-square"></i>
                      <i class="fab fa-linkedin"></i>
                      <i class="fab fa-instagram-square"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-cell  shadow">
              <div class="panel-cell-inner">
                <div class="content-holder">
                  <a href="">
                    <%= image_tag("sample3.png") %>
                  </a>
                  <div class="text">
                    <h3>Jessica Star</h3>
                    <h4>Senior Therapist</h4>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
                    <div class="icons">
                      <i class="fab fa-twitter-square"></i>
                      <i class="fab fa-linkedin"></i>
                      <i class="fab fa-instagram-square"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>


    </div>
  </div>
</div>
