<div class="two-item-container-nopadding">
  <div class="box-2">
    <%= image_tag("sample3.png") %>
  </div>
  <div class="box-1">
    <h3>Why Quiropractica</h3>
    <p>Our team of physiotherapists boast over 100 years of combined experienced. We provide an honest and ethical physiotherapy service to the residents of London and beyond.
    </p>
    <p>
      Our clinic is based in the centre of London and is very easy to access for everyone. We offer a whole range of physiotherapy services no matter what injury, strain or pain you may have.
    </p>
  </div>
</div>
