<div class="who-container">
  <div class="who-container-item">
    <div class="who-sec-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg);">
      <div class="who-sec-content">
        <h2>Severe Back Pain?</h2>
      </div>
    </div>
  </div>

  <div class="who-container-item">
    <div class="who-sec-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg);">
      <div class="who-sec-content">
        <h2>Severe Back Pain?</h2>
      </div>
    </div>
  </div>

  <div class="who-container-item">
    <div class="who-sec-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg);">
      <div class="who-sec-content">
        <h2>Severe Back Pain?</h2>
      </div>
    </div>
  </div>

  <div class="who-container-item">
    <div class="who-sec-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg);">
      <div class="who-sec-content">
        <h2>Severe Back Pain?</h2>
      </div>
    </div>
  </div>

  <div class="who-container-item">
    <div class="who-sec-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg);">
      <div class="who-sec-content">
        <h2>Severe Back Pain?</h2>
      </div>
    </div>
  </div>
</div>
