
<div class="container-header-img">
  <div>
    <p>
    Service Name
  </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="service-img">
        <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/chronic-pain-therapy-1086x650.jpg") %>
      </div>
      <div class="service-content">
        <h3>
          Blog Title One
        </h3>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <a href="">Read More</a>
      </div>


      <div class="service-img">
        <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/child-physiotherapy-1086x650.jpg") %>
      </div>
      <div class="service-content">
        <h3>
          Blog Title Two
        </h3>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <a href="">Read More</a>
      </div>

      <div class="service-img">
        <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/movement-analysis-1086x650.jpg") %>
      </div>
      <div class="service-content">
        <h3>
          Blog Title Three
        </h3>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <a href="">Read More</a>
      </div>

      <div class="service-img">
        <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/banner3.jpg") %>
      </div>
      <div class="service-content">
        <h3>
          Blog Title Four
        </h3>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <a href="">Read More</a>
      </div>


    </div>


    <div class="col-sm-12 col-md-4">

<div class="search-container">
        <textarea class="search-box"></textarea>
        <div class="btn-main-sm">Search</div>
      </div>

      <div class="side-box-border">

        <h3>Recent Posts</h3>
        <ul>
          <li>
            <a href="">Remove Back Pain While Working On A Computer</a>
          </li>
          <li>
            <a href="">Benefits Of A Weekly Physiotherapy Session</a>
          </li>
          <li>
            <a href="">Regular Exercise Can Slow Ageing Process</a>
          </li>
          <li>
            <a href="">Why You Should See A Physiotherapist After A Fall</a>
          </li>
          <li>
            <a href="">20 Exercises You Can Do From Home</a>
          </li>

        </ul>



      </div>

            <div class="ยง">

        <h3>Categories</h3>
        <ul>
          <li>
            <a href="">Back Pain</a>
          </li>
          <li>
            <a href="">Exercise</a>
          </li>
           <li>
            <a href="">Fitness</a>
          </li>

        </ul>



      </div>
    </div>
  </div>
</div>

