<%= partial "navbar" %>
<header class="main-header">
  <%= partial "fixed_navbar" %>
</header>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi aperiam eaque! Saepe aliquam unde, blanditiis, ipsum quisquam velit optio suscipit mollitia maxime id quam perferendis sit, minima! Maxime, maiores.
  </p>
</section>
