
<div class="container-header-img">
  <div>
    <p>
    Service Name
  </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="service-img">
        <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/child-physiotherapy-1086x650.jpg") %>
      </div>
      <div class="service-content">
        <h3>
          Aquatic Therapy Services
        </h3>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

      </div>

      <div class="service-content">
                <h3>
         Other Services
        </h3>
      </div>
 <div class="panel-container">
        <div class="main-panel-service">
        <div class="panel-cell">
            <div class="panel-cell-inner">
              <div class="content-holder">
                <a href="">
                  <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/child-physiotherapy-1086x650.jpg") %>
                </a>
                <div class="text">
                  <h3>Aquatic Therapy</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
                  <a href="">Read More</a>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-cell">
            <div class="panel-cell-inner">
              <div class="content-holder">
                <a href="">
                  <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/chronic-pain-therapy-1086x650.jpg") %>

                </a>
                <div class="text">
                  <h3>Child Physiotherapy</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
                  <a href="">Read More</a>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-cell">
            <div class="panel-cell-inner">
              <div class="content-holder">
                <a href="">
                  <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/movement-analysis-1086x650.jpg") %>

                </a>
                <div class="text">
                  <h3>Chronic Pain Therapy</h3>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
                  <a href="">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


    <div class="col-sm-12 col-md-4">

<div class="search-container">
        <textarea class="search-box"></textarea>
        <div class="btn-main-sm">Search</div>
      </div>

      <div class="side-box-border">

        <h3>Physio Services</h3>
        <ul>
          <li>
            <a href="">All Services</a>
          </li>
          <li>
            <a href="">Aquatic Therapy</a>
          </li>
          <li>
            <a href="">Child Physiotherapy</a>
          </li>
          <li>
            <a href="">Chronic Pain Therapy</a>
          </li>
          <li>
            <a href="">Movement Analysis</a>
          </li>
          <li>
            <a href="">Child Physiotherapy</a>
          </li>
          <li>
            <a href="">Chronic Pain Therapy</a>
          </li>

        </ul>



      </div>

            <div class="side-box-border">

        <h3>Some other things..</h3>
        <ul>
          <li>
            <a href="">All Services</a>
          </li>
          <li>
            <a href="">Aquatic Therapy</a>
          </li>

        </ul>



      </div>
    </div>
  </div>
</div>

